
req_packages <- c("devtools",
		"broom",
 		"modelr",
		"recipes",
		"ipred",
		"learnr",
		"nycflights13",
		"Lahman", 
		"animation",
		"tidyverse",
		"here",
		"RSQLite",
		"ggplot2",
 		"caret", 
 		"e1071", 
 		"ODB")

install.packages(req_packages)

# PCA visualization package
library("devtools")
install_github("vqv/ggbiplot")

