
req_packages <- c("devtools",
		"broom",
 		"modelr",
		"recipes",
		"ipred",
		"learnr",
		"nycflights13",
		"Lahman", 
		"animation",
		"tidyverse",
		"here",
		"RSQLite",
		"ggplot2",
		"gganimate",
		"gifski",
		"png",
 		"caret", 
 		"e1071", 
 		"ODB",
 		"UsingR",
 		"coefplot", 
 		"DAAG",
 		"glmnet",
 		"ggforce",
 		"C50",
 		"rpart",
 		"rpart.plot")

install.packages(req_packages)

# PCA visualization package
library("devtools")
install_github("vqv/ggbiplot")

